<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Dados do Projeto</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		crossorigin="anonymous">
</head>
<body>
	<div class="container" style="width: 21cm; height: auto; margin-top: 30px; margin-bottom: 30px; padding-top: 30px; padding-bottom: 30px; box-shadow: 0 1px 4px rgb(0 0 0 / 40%);">
		<article>
			<h1 class="card-title" style="font-weigth: bold; margin-bottom: 20px; text-align: center;"><span th:text=${dados.titulo}></span></h1>
			
			<section>
				<p align="justify" class="card-text" style="margin-top: 40px;"><span th:text=${dados.resumo}></span></p>
			</section>
			
			<section>
				<div class="row">
					<div class="col-md-6">
						<p class="card-text" style="margin-top: 40px;"><b>Fonte de financiamento:</b></span></p>
						<p class="card-text"><span th:text=${dados.fonte}></span></p>
					</div>
					<div class="col-md-6">	
						<p class="card-text" style="margin-top: 40px;"><b>Valor do financiamento:</b></span></p>
						<p class="card-text">R$ <span th:text=${dados.valor}></span></p>
					</div>
				</div>
			</section>
			
			<section>
				<p align="justify" class="card-text" style="margin-top: 40px;"><b>Metodologia:</b></span></p>
				<p align="justify" class="card-text"><span th:text=${dados.metodologia}></span></p>
			</section>
		</article>
	</div>
</body>
</html>