<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Sistema de Gerenciamento de TCC</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,-25" />
</head>
<body>
	<div class="header-content">
		<header class="main-header">
			<div class="main-header-logo">
				<a href="/"><img src="../images/header/thesis-logo.png" width="135px" height="30px"></a>
			</div>
			<nav class="main-navbar">
				<a class="link" href="/dados">Dados do Projeto</a>
				<a class="link" href="/projetos">Desenvolvimento</a>
				<a class="link" href="/literatura">Literatura</a>
			</nav>
			<div class="main-header-profile">
				<span class="material-symbols-outlined">calendar_month</span>
				<span class="material-symbols-outlined">notifications</span>
				<img src="../images/header/profile-icon.png" width="30px" height="30px">
			</div>
		</header>
	</div>
	<div class="container"  style="width: 100%;">
		<section class="stages">
			<article class="card">
				<img class="card-img-top" src="images/home/dados.png" alt="Card image cap">
				<div class="card-body">
					<a href="/dados" class="btn-link" style="padding: 10px 20px;">Dados do Projeto</a>
				</div>
			</article>
			<article class="card">
				<img class="card-img-top" src="images/home/desenvolvimento.png" alt="Card image cap">
				<div class="card-body">
					<!-- <p class="card-title" style="text-align: center;">Desenvolvimento</p> -->
					<a href="/projetos" class="btn-link" style="padding: 10px 20px;">Desenvolvimento</a>
					<!-- <img src="images/home/play.png" class="btn-play"> -->
				</div>
			</article>
			<article class="card">
				<img class="card-img-top" src="images/home/artigos.png" alt="Card image cap">
				<div class="card-body">
					<a href="/literatura" class="btn-link" style="padding: 10px 20px;">Literatura</a>
				</div>
			</article>
		</section>
	</div>
</body>
</html>